.mypy_cache
.DS_Store
build/
data/
_build/
dist/
.cache/
.coverage
.eggs/
.idea/
.python-version
*__pycache__*
*.pyc
syft.egg-info/
*.swp
*.swo
pyvenv.cfg
*.ipynb_checkpoints*
venv/
**.pytest_cache/
docs/_modules
.coverage
.vscode/
**/pip-wheel-metadata
.ropeproject/
pytest_benchmark_output.json
*.txt
Scripts/
pretrained_models/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST